@font-face {
  font-family: Regular;
  src: url("./../../finivo/fonts/Cambria_Lite_.ttf") format("truetype");
}

@font-face {
  font-family: Bold;
  src: url("./../../finivo/fonts/Cambria_LiteB_.ttf") format("truetype");
}

@font-face {
  font-family: BoldItalic;
  src: url("./../../finivo/fonts/Cambria_LiteBI_.ttf") format("truetype");
}

@font-face {
  font-family: Italic;
  src: url("./../../finivo/fonts/Cambria_LiteI_.ttf") format("truetype");
}

body, html, ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

ul li {
  display: inline;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

iframe {
  border: none;
}

* {
  font-family: "Quicksand", sans-serif;
}

.center {
  width: 1100px;
  margin: 0 auto;
  max-width: 90%;
}

.fh {
  height: 100%;
}

.fw {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.cent {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex.fullcent {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex.sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex.sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex.dir_column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left {
  float: left;
}

.bg-white {
  background-color: white !important;
}

.pr20 {
  padding-right: 20px;
}

.mt50 {
  margin-top: 50px;
}

.leftPart {
  width: 335px;
}

header {
  height: 105px;
  width: 100%;
}

header .miniMenu {
  height: 100%;
}

header .miniMenu .menuIcon {
  background-color: #6f1e51;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
}

header .miniMenu .menuIcon img {
  max-width: 90%;
  max-height: 90%;
}

header .miniMenu .menuLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .miniMenu .menuLogo img {
  max-height: 80px;
}

header .f_logo img {
  width: 287px;
  height: 86px;
}

header .navbar {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .navbar .navbar_inner {
  height: 75px;
  background-color: #6f1e51;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .navbar .navbar_inner a {
  font-size: 18px;
}

header .navbar li {
  color: white;
  padding: 2px 20px 0 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
}

header .navbar li.active {
  border-top: 2px solid #eab543;
  padding-top: 0;
}

header .navbar li.active a {
  color: #eab543;
}

header .langbar {
  height: 75px;
  width: 100px;
  position: relative;
  cursor: pointer;
}

header .langbar ul {
  position: absolute;
  top: 100%;
  background-color: white;
  z-index: 2;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 0;
  opacity: 0;
}

header .langbar ul.active {
  height: 80px;
  opacity: 1;
}

header .langbar ul li {
  width: 100%;
  float: left;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

header .langbar ul li.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .langbar * {
  color: #6f1e51;
  font-weight: bold;
}

header .langbar i {
  margin-left: 5px;
  margin-top: -2px;
}

.sliderPart {
  background-color: #6f1e51;
  height: 450px;
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.sliderPart .slideLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sliderPart .slideLeft .slideRow {
  width: 100%;
  float: left;
  margin: 10px 0;
}

.sliderPart .slideLeft .slideName {
  color: #eab543;
}

.sliderPart .slideLeft .slideText {
  color: white;
}

.sliderPart .slideLeft .slideButton {
  margin-top: 20px;
}

.sliderPart .slideLeft .slideButton a {
  border: 1px solid #eab543;
  background-color: transparent;
  padding: 10px 30px;
  text-align: center;
  color: #eab543;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sliderPart .slideLeft .slideButton a:hover {
  color: white;
  background-color: #eab543;
}

.sliderPart .slider_leftPart {
  width: 335px;
  margin-left: calc((100% - 1100px) / 2);
  float: left;
}

.sliderPart .slideRight {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: white;
}

.sliderPart .slideRight .sliderBottom {
  height: 30px;
  position: absolute;
  bottom: 0;
}

.sliderPart .slideRight .sliderBottom .coloredPart {
  background-color: #6f1e51;
  width: 150px;
  height: 100%;
  float: left;
}

.sliderPart .slideRight .sliderBottom .buttonsPart {
  height: 100%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0px 50px;
}

.sliderPart .slideRight .sliderBottom .buttonsPart .slideDots .slideDot {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #6f1e51;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}

.sliderPart .slideRight .sliderBottom .buttonsPart .slideDots .slideDot.active {
  background-color: #eab543;
  border: 1px solid #eab543;
  width: 11px;
  height: 11px;
}

.sliderPart .slideRight img {
  width: 100%;
  position: absolute;
  top: -30px;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sliderPart .slideRight img.active {
  opacity: 1;
}

.part {
  padding: 20px 0 0 0;
  float: left;
  width: 100%;
}

.part .partHeader {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.part .partHeader h2 {
  color: #6f1e51;
  font-size: 28px;
  padding-top: 40px;
  font-weight: bold;
}

.part .header-part {
  width: 49%;
}

.aboutPart .about {
  width: 48%;
}

.aboutPart .leftAbout {
  position: relative;
}

.aboutPart .main-text h2 {
  color: #6f1e51;
  font-size: 28px;
  margin-top: 20px;
  font-weight: bold;
}

.aboutPart .main-text p {
  color: #9c9eaf;
  font-size: 18px;
  margin-top: 15px;
}

.aboutPart .rightAbout,
.aboutPart .leftAbout {
  position: relative;
}

.aboutPart .rightAbout .image-background,
.aboutPart .leftAbout .image-background {
  width: 95%;
  height: 400px;
  background-color: #eab543;
}

.aboutPart .rightAbout img,
.aboutPart .leftAbout img {
  width: 95%;
  height: 400px;
  position: absolute;
  left: 20px;
  top: -20px;
}

.servicesPart .services {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.servicesPart .services .service {
  width: 31%;
}

.servicesPart .services .service .row {
  width: 100%;
  float: left;
  margin: 7px 0;
}

.servicesPart .services .service .serviceIcon {
  margin-top: 15px;
}

.servicesPart .services .service .serviceName h3 {
  color: #6f1e51;
}

.servicesPart .services .service .serviceText p {
  color: #adaebd;
}

.background-text {
  position: absolute;
  left: 120px;
  top: 0;
  z-index: -10;
}

.background-text h1 {
  font-size: 75px;
  color: #f2f2f2;
}

.worksPart {
  overflow-x: hidden;
  height: 560px;
}

.worksPart .worksSliders {
  height: 400px;
  margin-top: 30px;
}

.worksPart .worksSliders .imgBox {
  position: relative;
  cursor: pointer;
}

.worksPart .worksSliders .imgBox .zoomIconBox {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.worksPart .worksSliders .imgBox .zoomIconBox .zoomIconHolder {
  background-color: #eab543;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.worksPart .worksSliders .imgBox .zoomIconBox .zoomIconHolder img {
  width: 30px;
  height: 30px;
}

.worksPart .worksSliders .imgBox:hover .zoomIconBox {
  opacity: 1;
}

.worksPart .worksSliders .imgBox .imgBoxHover {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(111, 30, 81, 0.85);
  padding: 20px;
}

.worksPart .worksSliders .imgBox .imgBoxHover h4 {
  color: white;
}

.worksPart .worksSliders .imgBox .imgBoxHover h5 {
  color: #eab543;
}

.worksPart .worksSliders .imgBox:hover .imgBoxHover {
  opacity: 0;
}

.worksPart .worksSliders img {
  height: 100%;
  width: 100%;
}

footer {
  width: 100%;
  float: left;
}

.fullSection {
  width: 100%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #6f1e51;
}

.fullSection .leftSection {
  width: 400px;
  margin-right: 50px;
  margin-left: calc((100% - 1100px) / 2);
}

.fullSection .leftSection .contactForm {
  width: 100%;
  float: left;
  padding: 70px 0;
}

.fullSection .leftSection .contactForm #contactSubmit {
  width: 100%;
  border: none;
  height: 50px;
  background-color: #eab543;
  color: white;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.fullSection .leftSection .contactForm .form-group {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

.fullSection .leftSection .contactForm .form-group label,
.fullSection .leftSection .contactForm .form-group textarea,
.fullSection .leftSection .contactForm .form-group input {
  width: 100%;
  outline: 0;
  float: left;
  margin-bottom: 5px;
  color: #eab543;
}

.fullSection .leftSection .contactForm .form-group label:focus,
.fullSection .leftSection .contactForm .form-group textarea:focus,
.fullSection .leftSection .contactForm .form-group input:focus {
  border: 1px solid #eab543;
}

.fullSection .leftSection .contactForm .form-group label::-webkit-input-placeholder,
.fullSection .leftSection .contactForm .form-group textarea::-webkit-input-placeholder,
.fullSection .leftSection .contactForm .form-group input::-webkit-input-placeholder {
  color: white;
}

.fullSection .leftSection .contactForm .form-group label:-ms-input-placeholder,
.fullSection .leftSection .contactForm .form-group textarea:-ms-input-placeholder,
.fullSection .leftSection .contactForm .form-group input:-ms-input-placeholder {
  color: white;
}

.fullSection .leftSection .contactForm .form-group label::-ms-input-placeholder,
.fullSection .leftSection .contactForm .form-group textarea::-ms-input-placeholder,
.fullSection .leftSection .contactForm .form-group input::-ms-input-placeholder {
  color: white;
}

.fullSection .leftSection .contactForm .form-group label::placeholder,
.fullSection .leftSection .contactForm .form-group textarea::placeholder,
.fullSection .leftSection .contactForm .form-group input::placeholder {
  color: white;
}

.fullSection .leftSection .contactForm .form-group label {
  color: #eab543;
  font-weight: bold;
}

.fullSection .leftSection .contactForm .form-group input {
  height: 45px;
}

.fullSection .leftSection .contactForm .form-group input,
.fullSection .leftSection .contactForm .form-group textarea {
  border: none;
  border: 1px solid white;
  background-color: transparent;
  padding: 10px;
}

.fullSection .leftSection .contactForm .form-group textarea {
  min-height: 110px;
}

.fullSection .rightSection {
  background-color: #6f1e51;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.fullSection .rightSection iframe {
  margin-top: -30px;
}

.lastFullSection .leftSection {
  height: 60px;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lastFullSection .leftSection h4 {
  color: #6f1e51;
}

.arrow {
  position: absolute;
  top: 0;
  z-index: 2;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow.left {
  left: calc((100% - 1100px) / 2);
}

.arrow.right {
  right: calc((100% - 1100px) / 2);
}

.arrow .arrowHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow img {
  width: 10px !important;
  height: 10px !important;
}

.arrow p {
  color: white;
  margin: 0 10px;
}

#fancyHolder {
  position: fixed;
  z-index: 9;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fancyHolder i {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 0;
  color: white;
  -webkit-transition: 0.7 all ease;
  transition: 0.7 all ease;
  cursor: pointer;
}

#fancyHolder img {
  opacity: 0;
  width: 0;
  height: 0;
  -webkit-transition: 1.7s opacity ease;
  transition: 1.7s opacity ease;
  max-width: 95%;
}

#fancyHolder.active {
  opacity: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#fancyHolder.active i {
  font-size: 30px;
}

#fancyHolder.active img {
  opacity: 1;
  width: auto;
  height: auto;
  border: 5px solid white;
}

#servicesPage .servicesPart .services .service {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 10px 2%;
  width: 28%;
  margin: 10px 0;
}

#servicesPage .servicesPart .services .service p {
  margin-top: 5px;
  margin-bottom: 5px;
}

#servicesPage .sliderPart,
#worksPage .sliderPart, #aboutPage .sliderPart {
  height: 380px;
}

#worksPage .work,
#workPage .work {
  padding: 40px 0;
}

#workPage .textSide {
  margin-top: -30px;
}

#worksPage .work h2 {
  font-size: 35px;
}

#worksPage .verticalCenter {
  margin-top: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#worksPage .verticalCenter .background-text {
  top: 35%;
}

#worksPage .button-box {
  text-align: center;
}

#worksPage .button-box button {
  background-color: transparent;
  border: 1px solid #eab543;
  color: #eab543;
  padding: 7px 30px;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: 0.6s all ease;
  transition: 0.6s all ease;
}

#worksPage .button-box button:hover {
  color: white;
  background-color: #eab543;
}

#worksPage .leftAbout .button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#worksPage .main-text {
  max-width: 270px;
}

#worksPage .rightAbout .main-text {
  max-width: 150px;
}

#worksPage .rightAbout img,
#worksPage .leftAbout img {
  height: 360px;
}

#worksPage .rightAbout .image-background,
#worksPage .leftAbout .image-background {
  height: 360px;
}

#contactPage .contactPart {
  background-color: #6f1e51;
  margin-bottom: -50px;
  height: 200px;
  padding-top: 120px;
}

#contactPage .part .partHeader h2 {
  color: white;
}

#contactPage .header-part {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contactPage .header-part .leftPart {
  margin-left: calc((100% - 1100px) / 2);
}

#contactPage .header-part .rightPart {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #6f1e51;
  margin-top: -150px;
  color: white;
}

#contactPage .rightPart .contact-section {
  margin-top: 150px;
  margin-right: 40px;
  max-width: 300px;
}

#contactPage .contact-section {
  float: left;
}

#contactPage .contact-section .contact-header {
  color: #eab543;
  border-top: 2px solid #eab543;
  width: 55px;
  padding-top: 10px;
  margin-bottom: 20px;
}

#contactPage .contact-section .contact-header h1 {
  font-size: 14px;
}

#contactPage .contact-section h2 {
  padding-top: 10px;
}

#aboutPage .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#aboutPage .stats .stat {
  width: 20%;
  text-align: center;
  padding-top: 20px;
}

#aboutPage .stats .stat h1 {
  color: #eab543;
  font-size: 80px;
}

#aboutPage .stats .stat h3 {
  color: #adaebd;
  font-size: 28px;
}

#aboutPage .personels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0 0 0;
}

#aboutPage .personels .personel {
  width: 24%;
  position: relative;
}

#aboutPage .personels .personel img {
  position: absolute;
  top: -5%;
  width: 95%;
  right: 0;
  height: 250px;
}

#aboutPage .personels .personel .bg-box {
  background-color: #eab543;
  width: 95%;
  height: 250px;
}

#aboutPage .personels .personel h2 {
  color: #6f1e51;
  font-size: 30px;
}

#aboutPage .personels .personel p {
  color: #eab543;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

#aboutPage .personels .personel p span {
  letter-spacing: -3px;
}

@media only screen and (min-width: 994px) {
  header .miniMenu {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .fullSection .leftSection,
  .sliderPart .slider_leftPart,
  .arrow.left {
    margin-left: 5%;
  }
  .arrow.right {
    margin-right: 5%;
  }
  header .navbar .navbar_inner a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 994px) {
  .worksPart {
    height: 520px;
  }
  .responsiveColumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .fullSection .leftSection {
    width: 90%;
  }
  .lastFullSection .leftSection {
    width: 100%;
  }
  .miniMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mainMenu {
    display: none;
  }
  header {
    height: 80px;
  }
  .sliderPart {
    height: 600px;
  }
  .sliderPart .slideRight img {
    top: 0;
  }
  .sliderPart .slideRight .sliderBottom {
    bottom: -40px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sliderPart .slideRight .sliderBottom .buttonsPart {
    margin-left: 0;
  }
  .sliderPart .slideRight .sliderBottom .buttonsPart .slideDot {
    border-color: white !important;
  }
  .sliderPart .slideRight .sliderBottom .buttonsPart .slideDot.active {
    border-color: #eab543 !important;
  }
  .sliderPart .slideRight .sliderBottom .coloredPart {
    display: none;
  }
  .sliderPart .slideLeft {
    width: 100%;
    margin-left: 0;
  }
  .sliderPart .slideContent {
    width: 100%;
    padding: 40px 30px;
  }
  .aboutPart .center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutPart .about {
    width: 100%;
  }
  .aboutPart .about:first-child {
    margin-bottom: 50px;
  }
  .part .header-part {
    width: 100%;
  }
  .servicesPart .services .service {
    width: 48%;
  }
}

@media only screen and (max-width: 768px) {
  .sliderPart {
    height: 500px;
  }
  .background-text h1 {
    font-size: 65px;
  }
}

@media only screen and (max-width: 576px) {
  .part .partHeader {
    display: block;
  }
  .part .partHeader h2 {
    font-size: 25px;
    padding-top: 20px;
  }
  .background-text {
    right: 0;
    left: unset;
  }
  .background-text h1 {
    font-size: 45px;
  }
  .aboutPart .main-text h2,
  .servicesPart .main-text h2,
  .worksPart .main-text h2 {
    font-size: 25px;
  }
  .aboutPart .main-text p {
    font-size: 15px;
  }
  .servicesPart .services .service {
    width: 100%;
  }
}

@media only screen and (max-width: 420px) {
  .sliderPart .slideButton a {
    padding: 5px 20px !important;
  }
  .sliderPart .slideText h2 {
    font-size: 18px;
  }
  .sliderPart .slideName h4 {
    font-size: 13px;
  }
  header {
    height: 50px;
  }
  header .miniMenu .menuIcon {
    width: 50px;
  }
  header .miniMenu .menuIcon img,
  header .miniMenu .menuLogo img {
    height: 50px;
  }
}
/*# sourceMappingURL=index.css.map */